@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #444444;
    color: #cfff04;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Kanit", sans-serif;
}

.key_event_label {
    display: block;
    border: 1px solid blue;
    color: blue;
    font-size: 2em;
    padding: 5px;
    width: 100px;
    height: 30px;
}

canvas {
    background-color: #fafafa;
    
}

textarea {
    color: #cfff04;
    background-color: #333333;
    padding: 10px;
}

