body {
    font-family: 'Kanit', sans-serif;
    background-color: black;
    color: #cfff04;
    overflow: hidden;
}

.key_event_label {
    display: block;
    border: 1px solid blue;
    color: blue;
    font-size: 2em;
    padding: 5px;
    width: 100px;
    height: 30px;
}



canvas {
    background-color: black;
}

textarea {
    color: #cfff04;
    background-color: black;
    
}

